---
import Section from '../../../components/Section.astro';
---


<Section>
  <h2>Y eso puede tener muchas formas:</h2>

  <ul>
    <li>Unos, por supuesto, escriben.</li>
    <li>Algunos otros ven un camino simplemente en el servicio a la comunidad.</li>
    <li>Y quizá haya aquellos que encuentran su propósito en la enseñanza. Instruir a otros.</li>
    <li>Y otros encuentran su camino en la investigación y el descubrimiento.</li>
    <li>Pero todos, curiosamente, tienen algo en común...</li>
  </ul>

  <h3>Todos necesitan a alguien más.</h3>

  <ul>
    <li>Los escritores necesitan lectores.</li>
    <li>Los servidores necesitan a los que requieren su ayuda.</li>
    <li>Los instructores necesitan a los alumnos.</li>
    <li>Los investigadores necesitan a los misterios por resolver.</li>
  </ul>

  <h3>Todos necesitan a esa aventura, persona o propósito que los mueva.</h3>

  <h3>Y quizá te preguntes...</h3>
  <h3>...¿Hacia donde? ¿Hacia adelante?</h3>
</Section>

