---
import Section from '../../../components/Section.astro';
---


<Section>
  <h2>¿Has podido preguntarte alguna vez...</h2>

  <ul>
    <li>...si eres fuerte? O si, ¿tienes que serlo?</li>
    <li>...si eres alguien? O si, ¿necesitas ser para alguien más?</li>
    <li>...si tienes derecho a estar aquí? O si, ¿tienes que ganártelo?</li>
    <li>...si puedes permitirte estar triste? O si, ¿tienes que ocultarlo?</li>
    <li>...si es válido tener miedo? O si, ¿tienes que enfrentarlo?</li>
    <li>...si puedes ser tú? O si, ¿tienes que ser alguien más?</li>
  </ul>
</Section>