---
import Section from '../../../components/Section.astro';
---


<Section>
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-16 items-start">
    <div class="rounded-2xl bg-accent/20 min-h-80 lg:order-2 lg:sticky lg:top-16"></div>
    <div>
      <h3 class="font-sans text-2xl md:text-3xl font-semibold leading-snug text-black mb-8">
        Los jardineros crean las condiciones para que las flores puedan crecer y florecer.
      </h3>

      <div class="space-y-4">
        <p class="font-sans text-xl leading-relaxed text-black/75">Pero hay algo importante.</p>
        <p class="font-sans text-xl leading-relaxed text-black/75">Tanto los jardineros como las lluvias riegan las flores.</p>
        <p class="font-sans text-2xl font-semibold leading-snug text-black">Algo que puede destruir las flores, también puede hacerlas crecer.</p>
        <p class="font-sans text-xl leading-relaxed text-black/75">En términos de un jardín, es moverse hacia adelante, pero también hacía atrás.</p>
        <p class="font-sans text-xl leading-relaxed text-black/75">Y lo mismo ocurre con las personas.</p>
      </div>
    </div>
  </div>
</Section>