---
import Section from "../Section.astro";
---

<Section containerClass="">
  <h1 class="text-center xl:text-start text-5xl xl:text-7xl min-h-dvh flex items-center justify-center">
    Nadie tiene el derecho de criticar tu proceso si pides ayuda.
  </h1>
  <h1 class="text-center xl:text-start text-5xl xl:text-7xl min-h-dvh flex items-center justify-center">
    Ni mucho menos de cuestionarlo.
  </h1>
</Section>