---
import Section from '../../../components/Section.astro';
---


<Section>
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-16 items-start">
    <div class="rounded-2xl bg-accent/20 min-h-80"></div>
    <div>
      <h2 class="font-sans text-4xl md:text-5xl font-semibold leading-tight tracking-tight text-black mb-6">
        Si alguna tiene un pétalo un poco doblado, o despintado, ¿significa que no floreció?
      </h2>
  
      <p>No, significa que floreció a su manera. Y eso es lo importante.</p>
      <p>Cada una tuvo algo importante para florecer. Y ese algo se conoce como "proceso".</p>
      <p>Y las respuestas que buscas se parecen más a esto de lo que piensas.</p>
    </div>
  </div>
</Section>