---
import Section from "../Section.astro"
import "./index.css"
---

<Section class="brief-content min-h-screen" containerClass="min-h-screen flex items-center bg-transparent">
  <div class="flex flex-col gap-y-8 bg-transparent">
    <h1 class="text-4xl xl:text-6xl font-serif-accent">
      Ser fuerte no significa estar solo.
    </h1>
    <p class="flex flex-col text-lg xl:text-xl gap-y-2 grow justify-center">
      <span>
        Tú eres alguien en este mundo.
      </span>
      <span>
        No menos que las plantas ni las estrellas.
      </span>
      <span>
        Tienes derecho a sentir lo que sea que sientas.
      </span>
      <span>
        A estar triste.
      </span>
      <span>A sentir miedo.</span>
      <span>A ser feliz.</span>
      <span>A amar.</span>
      </span>
      <span>A ser humano.</span>
      <span>A ser tú.</span>
      <span>
        Tienes derecho a estar aquí.
      </span>
      <span>
        Tienes derecho a convivir con los demás.
      </span>
    </p>
  </div>
</Section>