---
import Section from "../Section.astro";
import "./index.css";
---

<Section class="w-dvw h-dvh welcome-content" containerClass="h-full">
  <div class="flex flex-col h-full text-black justify-between">
    <div class="flex flex-col gap-y-16">
      <h1 class="z-10 xl:text-7xl">Tanto los jardineros como las lluvias riegan las flores.</h1>
      <h2 class="z-10 xl:text-4xl font-serif-accent">Ambos llevan su tiempo.</h2>
      <h2 class="z-10 xl:text-4xl font-serif-accent">Y aun así, nadie critica sus procesos.</h2>
      <h2 class="z-10 xl:text-4xl font-serif-accent">¿Por qué tú habrías de hacerlo si pides ayuda?</h2>
    </div>
  </div>
</Section>