---
import Section from '../../../components/Section.astro';
---


<Section>
<div class="flex flex-col justify-center min-h-dvh items-center">
    <h2 class="text-lg xl:text-2xl text-black font-bold">Pero...</h2>
    <p>Podrías preguntarte... </p>
    <ul class="flex flex-col justify-center">
      <li class="text-center">... ¿Y eso existe?</li>
      <li class="text-center">... ¿Que es tan maravilloso que pueda resolver mis problemas?</li>
    </ul>
  </div>
</Section>