---
import Section from '../../../components/Section.astro';
---


<Section>
  <h2>Si observas por un momento a los jardineros, notarás algo importante.</h2>

  <ul>
    <li>Los jardineros no pueden hacer crecer las flores.</li>
    <li>Los jardineros no pueden hacer que las flores florezcan.</li>
    <li>Los jardineros no pueden hacer que las flores den frutos.</li>
    <li>Los jardineros no pueden hacer que las flores se marchiten.</li>
    <li>Los jardineros no pueden evitar que una tormenta dañe las flores.</li>
    <li>Los jardineros no pueden hacer nada de eso.</li>
  </ul>

  <h3>Sin embargo, los jardineros juegan un papel crucial.</h3>

  <ul>
    <li>Los jardineros cuidan las flores.</li>
    <li>Los jardineros riegan las flores.</li>
    <li>Los jardineros protegen a las flores.</li>
    <li>Los jardineros se aseguran de que las flores tengan lo que necesitan para crecer.</li>
  </ul>

  <h3>
    <span>Pero hay algo importante.</span>
    <span>Tanto los jardineros como las lluvias riegan las flores.</span>
    <span>Algo que puede destruir algunas flores, también puede hacerlas crecer.</span>
  </h3>
</Section>