---
import Hero from '../components/Hero.astro';

import Wonder from '../blocks/me/Wonder/index.astro';
import Helpless from '../blocks/me/Helpless/index.astro';
import Atlas from '../blocks/me/Atlas/index.astro';
import Enlightenment from '../blocks/me/Enlightenment/index.astro';
import Growth from '../blocks/me/Growth/index.astro';
import Gardener from '../blocks/me/Gardener/index.astro';
import Direction from '../blocks/me/Direction/index.astro';
import Embrace from '../blocks/me/Embrace/index.astro';
import Questions from '../blocks/me/Questions/index.astro';
import Answers from '../blocks/me/Answers/index.astro';
import Realization from '../blocks/me/Realization/index.astro';
import Help from '../blocks/me/Help/index.astro';
import CTA from '../blocks/me/CTA/index.astro';
import Footer from '../components/Footer/index.astro';
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Hero />
		<Wonder />
		<Helpless />
		<Atlas />
		<Enlightenment />
		<Growth />
		<Gardener />
		<Direction />
		<Embrace />
		<Questions />
		<Answers />
		<Realization />
		<Help />
		<CTA />
		<Footer />
	</body>
</html>
