---
import Section from '../../../components/Section.astro';
---


<Section>
  <h2>Quizá la verdadera pregunta tenga una forma distinta. Algo como...</h2>

  <ul>
    <li>...puedes permitirte ser vulnerable?</li>
    <li>...puedes permitirte ser tú?</li>
    <li>...tienes derecho a estar aquí sin tener que ganártelo?</li>
    <li>...es válido tener miedo?</li>
  </ul>

  <p>Zeus castigó a Atlas a sostener el cielo sobre sus hombros como castigo por su rebelión.</p>
  <p>Zeus castigó a Sísifo a empujar una roca cuesta arriba por toda la eternidad como castigo por su astucia.</p>

  <p>Es casi como si de alguna manera, nosotros estamos jugando ambos roles.</p>
  <p>Somos Zeus y Atlas a la vez.</p>
  <p>Imploramos perdón como Sísifo y nos engañamos a nosotros mismos como él.</p>

  <h2>¿Qué penitencia estaremos pagando como para...

    <ul>
      <li>...debernos a nosotros mismos el castigo más profundo como el de continuar sufriendo?</li>
      <li>...atormentarnos con una culpa infinita?</li>
      <li>...atravesar el dolor sin compañía?</li>
    </ul>
  </h2>
</Section>