---
import Section from '../../../components/Section.astro';
---


<Section>
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-16 items-start">
    <div class="rounded-2xl bg-accent/20 min-h-80"></div>
    <div>
      <h2 class="font-sans text-4xl md:text-5xl font-semibold leading-tight tracking-tight text-black mb-6">
        Los procesos, como las flores, llevan tiempo.
      </h2>
  
      <p>Florecer es un proceso que nadie critica.</p>

      <p class="flex flex-col">
        <span class="text-xl">
          Entonces, ¿por qué criticarías el proceso de alguien que pide ayuda?
        </span>
        <span class="text-xl font-bold">
          ¿O tu proceso de pedir ayuda?
        </span>
      </p>

      <p>Las 3 flores que cuidaste. Representan ese "alguien" que te necesitó.</p>
      <p>Pero esta vez, el jardinero necesita ayuda.</p>
      <p>Y tú eres ese jardinero.</p>
    </div>
  </div>
</Section>