---
import Section from '../../../components/Section.astro';
---


<Section>
  <h2>¿Por qué es tan difícil pedir ayuda?</h2>

  <p>
    Seguramente te enfrentas a esta pregunta, o alguna vertiente de ella en forma de:

    <ul>
      <li>"¿Podré hacerlo solo? Siento que necesito ayuda, pero no sé cómo pedirla."</li>
      <li>"Tengo que poder."</li>
      <li>"No quiero molestar a nadie."</li>
      <li>"No quiero que me vean débil."</li>
      <li>"No quiero que me vean vulnerable."</li>
      <li>"No quiero que me vean como un problema."</li>
      <li>"No quiero que me vean como una carga."</li>
      <li>"No quiero que me vean como un fracaso."</li>
      <li>"..."</li>
      <li>La lista podría seguir indefinidamente.</li>
    </ul>
  </p>
</Section>