---
import Section from '../../../components/Section.astro';
---


<Section>
  <div class="flex flex-col items-center gap-y-4 xl:gap-y-8">
    <h2 class="font-sans text-2xl md:text-3xl font-semibold leading-snug text-black mt-8">
      A veces necesitamos retroceder para poder avanzar.
    </h2>
    <p class="max-w-100 text-center flex flex-col gap-y-4 xl:gap-y-8">
      <span>Y eso no es fracasar.</span>
      <span>Eso es moverte.</span>
      <span>Hacia alguna parte.</span>
      <span>Hacia alguna dirección.</span>
      <span>Incluso, a veces, quedarse quieto es moverse, porque una pausa es necesaria.</span>
      <span>Un silencio necesario.</span>
      <span>Un espacio necesario.</span>
      <span>Eso también, es avanzar.</span>
    </p>
  </div>
</Section>